<nav class="main-menu">
    <ul>
        <li class="has-children">
            <a href="#">Home</a>
            <!-- <ul class="sub-menu">
                <li>
                    <a href="index.html">Home One</a>
                </li>
                <li>
                    <a href="index-2.html">Home Two</a>
                </li>
                <li>
                    <a href="index-3.html">Home Three</a>
                </li>
            </ul> -->
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li class="has-children">
            <a href="#">Services</a>
            <ul class="sub-menu">
                <li><a href="project.html">Service</a></li>
                <li><a href="project-details.html">Service Details</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href="#">Projects</a>
            <ul class="sub-menu">
                <li><a href="project.html">Project</a></li>
                <li><a href="project-details.html">Project Details</a></li>
                <!-- <li class="has-submenu"><a href="#/">Services</a>
                    <ul class="submenu-nav">
                        <li>
                            <a href="service.html">Service</a>
                        </li>
                        <li>
                            <a href="service-details.html">Service Details</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#/">Projects</a>
                    <ul class="submenu-nav">
                        <li>
                            <a href="project.html">Projects</a>
                        </li>
                        <li>
                            <a href="project-details.html">Project Details</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </li>
        <li class="has-children">
            <a href="#">Blog</a>
            <ul class="sub-menu">
                <li>
                    <a href="blog-standard.html">Blog Standard</a>
                </li>
                <li>
                    <a href="blog-classic.html">Blog Classic</a>
                </li>
                <li>
                    <a href="blog.html">Blog Grid</a>
                </li>
                <li>
                    <a href="blog-details.html">Blog Details</a>
                </li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>