<nav>
    <ul class="mobile-menu">
        <li class="menu-item-has-children">
            <a href="#">HOME</a>
            <ul class="dropdown">
                <li><a href="index.html">Home One </a></li>
                <li><a href="index-2.html">Home Two</a></li>
                <li><a href="index-3.html">Home Three</a></li>
            </ul>
        </li>
        <li><a href="about.html">ABOUT</a></li>
        <li class="menu-item-has-children">
            <a href="#">SERVICE</a>
            <ul class="dropdown">
                <li><a href="service.html">Service</a></li>
                <li><a href="service-details.html">Service Details</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#">PORTFOLIO</a>
            <ul class="dropdown">
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="portfolio-grid.html">Portfolio Grid</a></li>
                <li><a href="portfolio-details.html">Portfolio Details</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#">TEAM</a>
            <ul class="dropdown">
                <li><a href="team-members.html">Team Members</a></li>
                <li><a href="member-details.html">Member Details</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children ">
            <a href="#">BLOG</a>
            <ul class="dropdown">
                <li><a href="blog.html">Blog Standard</a></li>
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
        </li>
        <li><a href="contact.html">CONTACT US </a></li>
    </ul>
</nav>